<a href="https://colab.research.google.com/github/M1mirr/food-sales-predictions/blob/main/sales_predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sales Predictions

In [19]:
# import your libraries
import pandas as pd
import numpy as np

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
# loadin your data and create the variable

filename = '/content/drive/MyDrive/Coding Dojo: Data Science/Data/sales_predictions.csv'
df = pd.read_csv(filename)

In [41]:
# View the DataFrame
# running just df will give a look at the header, first 5 rows, and last 5. 
# can also see rows and column at the bottom i.e. (8523 rows x 12 columns)
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [ ]:
# print information about the DataFrame
df.info()

In [ ]:
# Use the drop() method for now, could change to Data Imputation later on
df.dropna(how = 'any')