<a href="https://colab.research.google.com/github/M1mirr/food-sales-predictions/blob/main/sales_predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sales Predictions

**Mount Data**

In [104]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Import Libraries**

In [105]:
# import your libraries
import pandas as pd
import numpy as np

**Load Data**

In [106]:
# loadin your data and create the variable

filename = '/content/drive/MyDrive/Coding Dojo: Data Science/Data/sales_predictions.csv'
df = pd.read_csv(filename)

In [107]:
# Check your data. 
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

**How Man Rows & Columns?**

In [155]:
# Return how many row & columns there are
row_cols = df.shape

**What are the datatypes of each variable?**

In [154]:
# Return the datatypes of each variable
data_types = df.dtypes

**Are there duplicates? If so, drop any duplicates.**

In [110]:
# Check for duplicates
df.duplicated().sum()

0

**Identify missing values.**

In [111]:
# return the data information to first view the Non-Null Count
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [127]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

> * Once identified you can narrow down the two columns

In [130]:
# return the two columns with missing values
missing_values = df[['Item_Weight', 'Outlet_Size']].isna().sum()
missing_values

Item_Weight    1463
Outlet_Size    2410
dtype: int64

**Decide on how to address the missing values and do it!** 

  * (This requires your judgement, so explain your choice)

In [132]:
# drop the missing data and run to make sure it is gone. 
drop_missing = df.dropna(subset=['Item_Weight','Outlet_Size'])

In [146]:
drop_missing.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [147]:
drop_missing.shape

(4650, 12)

**Find and fix any inconsistent categories of data**

In [153]:
str_cols = data_types[data_types =='object']

NameError: ignored