<a href="https://colab.research.google.com/github/M1mirr/food-sales-predictions/blob/main/sales_predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sales Predictions

**Mount Data**

In [201]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Import Libraries**

In [ ]:
!pip install thefuzz
!pip install thefuzz[speedup]

In [243]:
# import your libraries
import pandas as pd
import numpy as np
from thefuzz import fuzz
from thefuzz import process

**Load Data**

In [203]:
# loadin your data and create the variable

filename = '/content/drive/MyDrive/Coding Dojo: Data Science/Data/sales_predictions.csv'
df = pd.read_csv(filename)

In [214]:
# Check your data. 
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

**How Man Rows & Columns?**

In [215]:
# Return how many row & columns there are
row_cols = df.shape
row_cols

(8523, 12)

**What are the datatypes of each variable?**

In [216]:
# Return the datatypes of each variable
data_types = df.dtypes
data_types

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

**Are there duplicates? If so, drop any duplicates.**

In [217]:
# Check for duplicates
dups = df.duplicated().sum()
dups

0

**Identify missing values.**

In [218]:
# return the data information to first view the Non-Null Count
data_info = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [219]:
missing = df.isna().sum()

> * Once identified you can narrow down the two columns

In [220]:
# return the two columns with missing values
missing_values = df[['Item_Weight', 'Outlet_Size']].isna().sum()
missing_values

Item_Weight    1463
Outlet_Size    2410
dtype: int64

**Decide on how to address the missing values and do it!** 

  * (This requires your judgement, so explain your choice)

In [226]:
# drop the missing data and run to make sure it is gone. 
df.dropna(inplace=True)

**Find and fix any inconsistent categories of data**

In [227]:
str_cols = data_types[data_types =='object']
str_cols

Item_Identifier         object
Item_Fat_Content        object
Item_Type               object
Outlet_Identifier       object
Outlet_Size             object
Outlet_Location_Type    object
Outlet_Type             object
dtype: object

In [228]:
df[str_cols.index]

     Item_Identifier Item_Fat_Content  ... Outlet_Location_Type        Outlet_Type
0              FDA15          Low Fat  ...               Tier 1  Supermarket Type1
1              DRC01          Regular  ...               Tier 3  Supermarket Type2
2              FDN15          Low Fat  ...               Tier 1  Supermarket Type1
4              NCD19          Low Fat  ...               Tier 3  Supermarket Type1
5              FDP36          Regular  ...               Tier 3  Supermarket Type2
...              ...              ...  ...                  ...                ...
8517           FDF53              reg  ...               Tier 1  Supermarket Type1
8518           FDF22          Low Fat  ...               Tier 3  Supermarket Type1
8520           NCJ29          Low Fat  ...               Tier 2  Supermarket Type1
8521           FDN46          Regular  ...               Tier 3  Supermarket Type2
8522           DRG01          Low Fat  ...               Tier 1  Supermarket Type1

[4650 rows x 7 columns]

In [229]:
df['Item_Fat_Content'].value_counts

<bound method IndexOpsMixin.value_counts of 0       Low Fat
1       Regular
2       Low Fat
4       Low Fat
5       Regular
         ...
8517        reg
8518    Low Fat
8520    Low Fat
8521    Regular
8522    Low Fat
Name: Item_Fat_Content, Length: 4650, dtype: object>

In [238]:
df['Item_Fat_Content'] = df['Item_Fat_Content'].str.replace('reg','Regular')
df['Item_Fat_Content'].value_counts

<bound method IndexOpsMixin.value_counts of 0       Low Fat
1       Regular
2       Low Fat
4       Low Fat
5       Regular
         ...
8517    Regular
8518    Low Fat
8520    Low Fat
8521    Regular
8522    Low Fat
Name: Item_Fat_Content, Length: 4650, dtype: object>